<div layout="row" layout-align="center center">
	<div layout="column" flex="none" class="border sidebar-container">
		<div layout="row" layout-align="center center" class="border">Uno</div>
		<div layout="row" layout-align="center center" class="border">tre</div>
	</div>
	<div layout="column" flex hide-sm class="border">Due</div>
</div>
Pippo
<abb-alert ng-if="true" alerticon="'info'" alertmessage="'Probva qsoivhdspIB OVSHBD H OVISHOIHDO HVOFIHDFEOI OIDVHFOVIDHFVDF HNKLNDKLKDHD ohihf bvfhpihiph pvifhpvdf'"></abb-alert>



